* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    position: relative;
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    @include transition;
}

header {
    margin-top: 40px;
    @include flex;
    width: 60%;
    justify-content: space-between;
    height: 130px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px 20px;
    .name {
        font-size: 2rem;
        color: #fff;
        font-weight: 700;
        line-height: 0.9
    }
    .score {
        width: 130px;
        height: 95%;
        @include flex;
        flex-direction: column;
        color: hsl(229, 64%, 46%);
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: 600;
        background-color: #fff;
        p {
            font-size: 3.3rem;
            color: hsl(229, 25%, 31%);
            font-weight: 700;
        }
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}

.step-1 {
    @include transition;
    width: 500px;
    height: 50%;
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center 95%;
    background-size: 60%;
    @include flex;
    position: relative;
    gap: 30px;
    margin-top: 50px;
    padding: 40px 0;
    .box {
        @include flex;
        width: 160px;
        height: 160px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        position: absolute;
        &:active {
            opacity: 0.8;
        }
        @include transition;
    }
    .paper {
        @include transition;
        border: 18px solid;
        top: 10px;
        left: 50px;
        border-color: hsl(230, 89%, 65%);
        box-shadow: 0px 6px 0 0px hsl(230, 55%, 47%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
    }
    .scissors {
        @include transition;
        border: 18px solid;
        top: 10px;
        right: 50px;
        border-color: hsl(40, 84%, 53%);
        box-shadow: 0px 6px 0 0px hsl(39, 92%, 39%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
    }
    .rock {
        @include transition;
        border: 18px solid;
        bottom: 1px;
        left: 50%;
        border-color: hsl(349, 70%, 56%);
        box-shadow: 0px 6px 0 0px hsl(349, 65%, 41%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

.rules {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 35px;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    @include flex;
    cursor: pointer;
    p {
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 2px
    }
    @include transition;
}

.lay {
    @include transition;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.516);
    @include flex;
    visibility: hidden;
    .pop-up {
        @include transition;
        @include flex;
        flex-direction: column;
        width: 350px;
        height: 350px;
        border-radius: 8px;
        border: 1px solid #fff;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: #fff;
        position: relative;
        .head {
            @include flex;
            width: 90%;
            justify-content: space-between;
            margin-bottom: 20px;
            color: hsl(229, 25%, 31%);
            img {
                cursor: pointer;
            }
        }
    }
}

.active {
    @include transition;
    visibility: visible;
}


/* step-2*/

.step-2 {
    @include transition;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center 95%;
    background-size: 60%;
    @include flex;
    justify-content: space-between;
    position: relative;
    gap: 30px;
    margin-top: 50px;
    padding: 40px 0;
    .box {
        @include transition;
        @include flex;
        border: 20px solid;
        width: 160px;
        height: 160px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        margin-top: 50px;
    }
    .reset {
        @include flex;
        flex-direction: column;
        width: 30%;
        height: 150px;
        justify-content: space-evenly;
        h2 {
            color: #fff;
            font-weight: 700;
            letter-spacing: 4px;
            font-size: 2.3rem;
            text-align: center;
        }
        button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            color: hsl(229, 25%, 31%);
            font-weight: 600;
            letter-spacing: 2px;
            background-color: #fff;
            cursor: pointer;
            outline: none;
            border: none;
            &:active {
                outline: none;
                border: none;
                color: #fff;
                background-color: hsl(229, 25%, 31%);
            }
        }
        display: none;
    }
    .you {
        width: calc(60% / 3);
        @include transition;
        @include flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        h2 {
            position: absolute;
            width: 140px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
    h2 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .house {
        width: calc(60% / 3);
        @include transition;
        @include flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        h2 {
            position: absolute;
            width: 250px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
    display:none;
    .paper {
        border: 18px solid hsl(230, 89%, 65%);
        box-shadow: 0px 6px 0 0px hsl(230, 55%, 47%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
    }
    .scissors {
        border: 18px solid hsl(40, 84%, 53%);
        box-shadow: 0px 6px 0 0px hsl(39, 92%, 39%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
    }
    .rock {
        border: 18px solid hsl(349, 70%, 56%);
        box-shadow: 0px 6px 0 0px hsl(349, 65%, 41%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
    }
}

.added {
    .you {
        .paper {
            border: 18px solid hsl(230, 89%, 65%);
            box-shadow: 0px 6px 0 0px hsl(230, 55%, 47%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
        }
        .scissors {
            border: 18px solid hsl(40, 84%, 53%);
            box-shadow: 0px 6px 0 0px hsl(39, 92%, 39%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
        }
        .rock {
            border: 18px solid hsl(349, 70%, 56%);
            box-shadow: 0px 6px 0 0px hsl(349, 65%, 41%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3);
        }
    }
}

.win {
    .box {
        box-shadow: 0px 0px 4px 32px rgba(150, 159, 255, 0.091), 0px 0px 4px 64px rgba(139, 166, 255, 0.058), 0px 0px 4px 96px rgba(143, 151, 255, 0.032);
    }
    .paper {
        border: 18px solid hsl(230, 89%, 65%);
        box-shadow: 0px 6px 0 0px hsl(230, 55%, 47%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3) 0px 0px 4px 32px rgba(150, 159, 255, 0.091), 0px 0px 4px 64px rgba(139, 166, 255, 0.058), 0px 0px 4px 96px rgba(143, 151, 255, 0.032);
    }
    .scissors {
        border: 18px solid hsl(40, 84%, 53%);
        box-shadow: 0px 6px 0 0px hsl(39, 92%, 39%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3), 0px 0px 4px 32px rgba(150, 159, 255, 0.091), 0px 0px 4px 64px rgba(139, 166, 255, 0.058), 0px 0px 4px 96px rgba(143, 151, 255, 0.032);
    }
    .rock {
        border: 18px solid hsl(349, 70%, 56%);
        box-shadow: 0px 6px 0 0px hsl(349, 65%, 41%), inset 0px 7px 0 0px rgba(0, 0, 0, 0.3), 0px 0px 4px 32px rgba(150, 159, 255, 0.091), 0px 0px 4px 64px rgba(139, 166, 255, 0.058), 0px 0px 4px 96px rgba(143, 151, 255, 0.032);
    }
}

.newGame {
    overflow: hidden;
    position: absolute;
    @include flex;
    flex-direction: column;
    top: -200%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.491);
    @include transition;
    .box {
        @include transition;
        @include flex;
        flex-direction: column;
        width: 80%;
        height: 250px;
        background-color: #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 40px;
        justify-content: flex-start;
        p {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 20px;
        }
        #yes {
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            background-color: rgb(47, 192, 25);
            color: #fff;
            font-size: 1.3rem;
            cursor: pointer;
            &:active {
                background-color: rgb(42, 167, 23);
                border: none;
                outline: none;
            }
        }
        #no {
            margin-top: 15px;
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            background-color: rgb(222, 67, 32);
            color: #fff;
            font-size: 1.3rem;
            cursor: pointer;
            &:active {
                background-color: rgb(184, 57, 28);
                border: none;
                outline: none;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        width: 90%;
        height: 120px;
        margin-top: 30px;
        .name {
            font-size: 1.3rem;
        }
        .score {
            width: 100px;
            height: 100%;
            @include flex;
            flex-direction: column;
            color: hsl(229, 64%, 46%);
            letter-spacing: 2px;
            font-size: 14px;
            font-weight: 600;
            background-color: #fff;
            p {
                font-size: 2rem;
                color: hsl(229, 25%, 31%);
                font-weight: 700;
            }
        }
    }
    .step-1 {
        @include transition;
        width: 350px;
        height: 350px;
        background-image: url('../images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-position: center 95%;
        background-size: 90%;
        @include flex;
        position: relative;
        gap: 30px;
        margin-top: 80px;
        position: relative;
        // padding: 10px 0;
        .box {
            @include flex;
            width: 125px;
            height: 125px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
            // margin-top: 10px;
            // position: absolute;
            img {
                width: 40px;
            }
            &:active {
                opacity: 0.8;
            }
            @include transition;
        }
        .paper {
            position: absolute;
            left: 0;
        }
        .scissors {
            position: absolute;
            right: 0;
        }
    }
    .rules {
        position: absolute;
        left: 50%;
        bottom: 35px;
        width: 150px;
        height: 40px;
        transform: translateX(-50%);
    }
    .lay {
        .pop-up {
            width: 100%;
            height: 100%;
            position: relative;
            .head {
                position: absolute;
                top: 20px;
                left: 20;
            }
        }
    }
    .step-2 {
        width: 80%;
        position: relative;
        .box {
            width: 120px;
            height: 120px;
        }
        .reset {
            position: absolute;
            bottom: -250px;
            @include flex;
            flex-direction: column;
            width: 90%;
            height: 150px;
            justify-content: space-evenly;
            h2 {
                color: #fff;
                font-weight: 700;
                letter-spacing: 4px;
                font-size: 2.3rem;
                text-align: center;
            }
            button {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                color: hsl(229, 25%, 31%);
                font-weight: 600;
                letter-spacing: 2px;
                background-color: #fff;
                cursor: pointer;
                outline: none;
                border: none;
                &:active {
                    outline: none;
                    border: none;
                    color: #fff;
                    background-color: hsl(229, 25%, 31%);
                }
            }
            display: none;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
}